@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #3D3D3D;
  font-family: "Urbanist", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
  background: none;
  cursor: pointer;
  border: none;
}

h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: -0.025em;
}

h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6F6E73;
  margin-top: 8px;
  

}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}



/***HEADER***/



.header {
  padding: 14px 0;
  margin-top: 26px;
}

.navbar__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo__link {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 30.47;
  margin: 0 6px 0 0;
}


.navbar__list {
  display: flex;
  justify-content: space-around;
  gap: 64px;
}

.list__page {
  display: flex;
  align-items: center; 
  gap: 4px;
}

.contact__btn {
  color: #fff;
  border-radius: 99px;

}
.navbar__btn {
  padding: 16px 28px;
  max-width: 132px;
  width: 100%;
  background: #809D79;

}


/***MAIN***/


.main {
  margin-bottom: 80px;
}


/***HERO***/


.hero {
  max-width: 1321px;
  width: 100%;
  /* margin: 0 50px 150px 119px; */
  margin: 0 auto 150px auto;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  gap: 34px;
}

.hero__transforme {
  max-width: 676px;
  width: 100%
}

.hero__transforme-desc {
  max-width: 559px;
  width: 100%;
}

.hero__title {
  margin-bottom: 20px;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -0.025em;
}

.hero__desc {
  margin-bottom: 24px;
}

.hero__contact {
  padding: 18px 42px;
  background: #F48148;
  border-radius: 99px;
  margin-right: 28px;
  
  
}

/***HERO STAR***/

.hero__star {
  display: flex;
  gap: 38px;
  margin-top: 56px;
}

.star__recommend{
  max-width: 312px;
  width: 100%;
  padding-top: 36px;
}

.star {
  color: #FDB241;
  font-size: 24px;
}

.recommend__title {
  color: #3D3D3D;
  margin-top: 24px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.025em;
}

.recommend__text {
  font-size: 12px;
}

.recommend__bobby{
  display: flex;
  align-items: center;
  gap: 10px;
}

.bobby__img{
  width: 35px;
  height: 33px;
}

.star__fresh {
  max-width: 291px;
  width: 100%;
}

.fresh__featured {
  display: flex;
  justify-content: end;
  align-items: center;
  color: #809D79;
  transform: rotate(-3.17deg);
}

.fresh__container {
  display: flex;
}

.featured__img {
  width: 40.28px;
  height: 24.26px;
}

.fresh__container-img {
  width: 151px;
  height: 157px;
}

.fresh__container-desc {
  margin: 56px 0 19px 0;
}

.fresh__container-desc h5 {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
}

.fresh__container-desc span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F48148;
}

.detail__btn {
  padding: 6px 16px;
  margin-top: 8px;
  color:#fff;
  background: #F48148;
  border-radius: 99px;
}



/***MISSION***/

.mission {
  max-width: 1102px;
  width: 100%;
  margin: 0 auto 150px auto;
}

.mission__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.mission__desc {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: start;
  max-width: 568px;
}

.mission__title {
  margin-bottom: 20px;

}

.mission__desc-img {
  margin: 32px 0;
}



/***OUR SERVICE***/

.our-service__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.our-service__desc {
  max-width: 771px;
  width: 100%;
  text-align: center;
  margin-bottom: 48px ;
}

.service__title {
  margin-bottom: 20px;
}

.our-service__plant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 32px;
}

.service__plant-card {
  max-width: 373px;
  width: 100%;
  height: 315px;
  border-radius: 24px;
}

.card-first {
  background: #F9ECDD;
}

.card-second {
  background: #809D79;
}

.plant-second > .text-second {
  color: #fff;
}
.plant-second > h5 {
  color: #fff;
}
.plant-second > a {
  color: #fff;
}
.plant__img {
  width: 40px;
  height: 40px;
  margin: 52.5px 0 38.5px 32px;

  object-fit: cover;
  object-position: center;
}

.plant__desc {
  margin: 0 32px 35px 32px;
}

.plant__text {
  margin: 8px 0 20px 0;
}

.plant__link {
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.link-first{
  color: #F48148;
}



/***WHY CHOOSE***/



.why-choose__container {
  display: flex;
  justify-content: space-around;
  align-items:center;
  width: 100%;
  margin-bottom: 150px;
}

.why-choose__desc {
  max-width: 630px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
}

.choose__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: -0.025em;
}

.why-choose__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info__item {
  display: flex;
  gap: 16px;
}

.info__item-number {
  width: 35px;
  height: 35px;
  font-size: 16px;
  line-height: 120%;

  color: #FDFDFD;
  background-color: #809D79;
  border-radius: 99px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info__item-desc {
  width: 100%;
}

.info__btn{
  padding: 18px 42px;
  border: 1px solid #3D3D3D;
  line-height: 100%;
  border-radius: 99px;
}

.why-choose__img {
  max-width: 512px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info__img {
  width: 64%;
  border-radius: 50%;
  border:10px solid #B7B890;

  object-fit: cover;
  object-position: center;
}

.info__img-second {
  margin-top: -23px;
  margin-left: 36%; 
}


/***CUSTOMERS***/


.customers {

}

.customers__container {
  max-width: 1185.11px;
  width: 100%;
  margin: 0 auto 150px auto;
  display: flex;
  align-items: center;
}

.customers__title {
  margin-bottom: 68px;
  text-align: center;
}

.customers__img {
  max-width: 473px;
  width: 100%;
  position: relative;
  margin-right: 36px;
}

.cust__play {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 78px;
  height: 78px;
  right: 0px;
  top: 200px;
  background: #F48148;
  border-radius: 99px;
}

.customers__desc {
  max-width: 676.11px;
  width: 100%;
  height: 495px;
  background: url(/assets/image/Customer\ BG.png);
  position: relative;
  z-index: -5;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.customers__desc-text {
  max-width: 492px;
  margin-top: 102px;

  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.025em;

  color: #FDFDFD;
}

.customers__desc-img {
  margin-top: 27px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FDFDFD;
}

.customers__desc-img img{
  margin-bottom: 17px;
}



/***EXPLORE BLOG***/



.explore__blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explore__blog-title {
  margin-bottom: 48px;
  text-align: center;
}

.explore__blog-title h2 {
  margin-bottom: 20px;
}
.explore__blog-card {
  display: flex;
  justify-content: space-around;
  gap: 41px;
}

.blog__card {
  max-width: 373px;
}

.blog__card-img {
  max-width: 373px;
  margin-bottom: 24px;
  height: 234px;
  border-radius: 24px;
}

.blog__card-text {
  padding: 6px 12px;
  margin-bottom: 8px;
  background: rgba(184, 248, 173, 0.28);
  border-radius: 8px;
  color: #63AC51;
}

.blog__card-title {
  margin-bottom: 12px;
  font-size: 20px;
  letter-spacing: -0.025em;
}


.blog__arka {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 12px;
}

.blog__img-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

}

.blog__span {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.025em;
  color: #6F6E73;

}

.blog__img-img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.explore__btn {
  margin-top: 32px;
  
}


/***CREATING***/



.creating__container {
  display: flex;
  align-items:end;
  justify-content: space-between;
}

.creating__img {
  max-width: 495px;
}

.creating__desc {
  max-width: 703px;
  height: 443px;
  background: #F9ECDD;
  padding: 74px 64px 58px 108px;
}

.creating__title {

font-weight: 400;
font-size: 40px;
line-height: 48px;
letter-spacing: -0.025em;

}

.creating__text {
  margin: 16px 0 24px 0;
}


/***FOOTER***/


.footer {
  margin-bottom: 77px;
}

.footer__container {
  display: flex;
}
.footer__bloom-container{
  max-width: 292px;
  width: 100%;
  margin-right: 76px;
}


.footer__logo {
  margin-bottom: 31px;
}



.footer__icons {
  margin-top: 41px;
}

.icons {
  margin-right: 14px;
}


.footer__list {
  display: flex;
  gap: 62px;
}

.footer__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #809D79;

}

.footer__inner-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 20px;
}
.footer__second-list {
  display: flex;
  flex-direction: column;
  max-width: 177px;
  gap: 24px;
  margin-top: 20px;
}

.footer__list-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.footer__list-second {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list-item__img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 29px;
  height: 29px;
  background-color: #F9ECDD;
  border-radius: 99px;
}

.footer__btn {
  padding: 12px 24px;
  background: #F48148;
  border-radius: 99px;
  color: #fff;

}
.form__input {
  padding: 18px 0 18px 18px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0,   0.14);
  border-radius: 99px;


  font-size: 16px;



}